
body {
    margin:auto 50px;
    background-color: #f7f7f7;
    padding: 20px;
}

.main_contents {
    background-color: #ffffff;
    padding: 0 30px 0;
    padding: 30px;
    overflow-wrap:break-word;
}
.main_contents .invalid {
    border : solid 1px;
}

.main_contents * {
    overflow-wrap:break-word;
}

.clearfix {
    clear:both;
    /* margin:10px; */
}

.main_title{
    font-size: 18pt;
    font-weight: 200;
    color:#f0f0f0;
    background-color: rgb(57, 57, 255);
    padding: 5px;
    padding-left: 38px;
    padding-bottom: 2px;
}

.section_title{
    border-left:solid 12px rgb(57, 57, 255);
    border-bottom:solid 1px rgb(57, 57, 255);
    padding-left:12px;
    font-size:14pt;
    margin-left:10px;
    font-weight: bold;
}

.procedure {
    padding-left: 28px;
    font-size: 12pt;
    margin-left:10px;
    font-weight: bold;
}

/* ************************* */
.procedure{
    height: 100%;
}
.inner_frame {
    /* height:inherit; */
    height: 100%;
}


.log {
    padding-left:28px;
    margin-left:10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12pt;
}

.inner_frame .log{
    float:left;
    width:300px;
    height: 300px;
    border : solid 1px blueviolet;
}

.log_image_box {
    float:left;
    /* width: inherit; */
    /* height: 400px; */
    margin-top:20px;
    margin-bottom:20px;
    /* position:  relative;  */
}

.log_image_box img {
    padding-left:48px;
    height: 200px;
    border : solid 1px;
}

.log_image {
    border : solid 1px;
    /* display: block;
    float:left; */
    height: 200px;
}

.log_image_description {
    /* display: block;
    float:left; */
    margin-left:20px;
    font-size: 10pt;
    /* position:  absolute; */
    /* top:40%; */
}