
body {
    margin:auto 50px;
    background-color: #f0f0f0;
}

#main_contents, #main-contents, .main-contents{
    margin:auto 50px;
    width: 90%;
    background-color: white;
    border : solid 0px;
    padding: 2px 30px 20px;
    margin-top:10px;
}

.main_title{
    font-size: 18pt;
    font-weight: 200;
    color:#f0f0f0;
    background-color: rgb(57, 57, 255);
    padding: 5px;
    padding-left: 38px;
    padding-bottom: 2px;
}

.section_title{
    border-left:solid 12px rgb(57, 57, 255);
    border-bottom:solid 1px rgb(57, 57, 255);
    padding-left:12px;
    font-size:14pt;
    margin-left:10px;
    font-weight: bold;
}

.procedure {
    padding-left: 28px;
    font-size: 12pt;
    margin-left:10px;
    font-weight: bold;
}

.log {
    padding-left:28px;
    font-size: 12pt;
    margin-left:10px;
}