

body {
    background-color: rgb(240, 240, 240);
    width: 80%;
    /* margin:auto 15px auto 15px; */
    /* margin: 10px 10% 10px 10%; */
    margin: 10px auto 10px auto;
}


#main_contents {
    background-color: white;
    /* margin:15px; */
    padding:15px;
    height: 100%;
}

.title_bar {
    background-color: rgb(35, 35, 255);
    color:rgb(240, 255, 250);
    padding:8px;
    border-left:solid 18px rgb(118, 239, 255);
}


